.background-container{
    height: 100vh;
    background-image: url("../img/pakata-goh-EJMTKCZ00I0-unsplash.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    
}